.nav-wrapper {
    background: #F0EEEE;
    box-shadow: none;
    .active{
        background-color: grey;
    }
    &-common {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        margin-left: 10%;
        margin-right: 10%;
    }

    .logo {
        max-height: 8.3rem;
    }
}

