@import './colors.scss';

h1 {
	font-size: 36px;
    font-weight: bold;
    color: $primary-color;
    display: flex;
    justify-content: center;
}
a {
	text-decoration: none;
	color: $primary-color !important;
	font-style: normal;
	font-weight: 500;
	font-size: 1.6rem !important;
}

select {
	display: flex;
	width: 10.8rem;
	height: 3.3rem;
	left: 6.5rem;
	top: 7rem;
	padding: 0.5rem;
	background: #F0EEEE;
	border-radius: 0.8rem;
	font-style: normal;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.7rem;
	&:focus {
		outline: none !important;
	}
}

nav {
	height: 8.3rem !important;
	line-height: 8.3rem !important;
}